.fullPage{
    background-image: url("../TripReviewPage/images/review.jpeg");
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-size: cover;

}
.itineraryMaster{
    height:50vh;
    width: 34%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 95px 95px 95px;
    opacity: 0.88;
}

.listItinerary{
    padding:15px;
}

.MuiListItemText-root{
    font-size: 100px;
}

.totalItem{
    text-align: right;
}

.Itinerary_txt1 {
    font-family: Poppins-Regular;
    font-size:15px;
    line-height: 1.5;
    color: #666666;
  }