.inhouse-services-cards-master-container {
  height: 100%;
  width: 100%;
  margin-top: 32px;
}

.learn-more-btn {
  text-transform: none !important;
  font-weight: 500 !important;
  background: #f50057 !important;
  border-radius: 10px !important;
  width: 20vh;
  height: 38px;
  color: white !important;
}

.MuiCardActions-root {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.service-cards-container {
  margin-top: 10px;
}

.card-service {
  border-radius: 10px !important;
  margin: 0 !important;
  box-shadow: 0 0 10px silver !important;
}

.service-cards-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

@media (max-width: 599px) {
  .service-cards-title {
    font-size: 20px;
    font-weight: 500;
  }
}
