.card {
  border-radius: 10px !important;
  margin: 0 !important;
  box-shadow: 0 0 10px silver !important;
  max-width: 360px;
  min-width: 262px;
}

.form-heading {
  font-size: 20px;
  color: rgb(48, 48, 48);
  margin-bottom: 10px;
  display: grid;
  place-items: center;
}

.TextField {
  border-radius: 10px !important;
  width: 100%;
}

.formButton {
  text-transform: none !important;
  font-weight: 600 !important;
  background: rgb(157, 78, 221);
  background: radial-gradient(
    circle,
    rgba(157, 78, 221, 1) 0%,
    rgba(176, 78, 221, 1) 100%
  );
  border-radius: 10px !important;
  text-align: center;
  width: 100%;
  height: 40px;
}

.btnGrid {
  display: grid;
  place-items: center;
}

.TextField .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: silver;
  border-radius: 10px;
}

.TextField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(48, 48, 48);
  color: blueviolet;
}

.TextField .MuiInputLabel-outlined.Mui-focused {
  color: rgb(48, 48, 48);
}

.calendar {
  border-radius: 10px;
  border-width: 1px;
  border-color: silver;
  box-shadow: 0 0 5px silver;
  max-width: 330px;
  min-width: 262px;
  padding-top: 8px;
  height: 290px;
}

.react-calendar__tile--now {
  background: none;
  color: black;
}

.react-calendar__month-view__weekdays
  > .react-calendar__month-view__weekdays__weekday
  > abbr {
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 600px) {
  .MuiPaper-root {
    width: 100%;
    height: 100%;
  }
}
